<h1>Registration form</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="password" placeholder="Password">
    <button class="btn btn-primary">Submit</button>
</form>

